.now{margin-top: 100px;}

.imge{width: 200px;}



.jio {width: 150px;}
.pio{margin-left: 300px;}

.color{background-color: azure;}


.buy{padding: 11px 30px;
border-radius: 20px;
background-color: cadetblue;
font-weight: bolder;}
h5{font-family: 'Oswald', sans-serif;
    font-size: 30px;


}
h1{font-weight: bold;}
h6{color: coral;}
.card{border: none;
box-shadow: 10px 20px 30px wheat;}
 .kio{margin-left: 350px;}

.order ul {color: white ;}

.div{background-color: DarkSlateGrey;}

.imp{height: 250px;}

.hbo{margin-top: 70px;}

 
.ouo{margin-top: 70px;}
.afrade{background-color:azure;}
.nane{color: black;
font-weight: bold;}

.cardar{
box-shadow: 9px 10px 15px 7px gainsboro;}